.TodoList {
  width: 100%;
  margin-bottom: 100px;
}

.TodoList h2 {
  font-size: 1.6rem;
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
}

.TodoList ul {
  list-style: none;
}

@media (min-width: 1200px) {
  .TodoList {
    margin-bottom: 0px;
  }  
}