.TodoSearch {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  height: 30px;
  font-size: 1.6rem;
  outline: none;
  border: none;
  border-radius: 12px;
  margin-bottom: 26px;
  background-color: #3C3E44;
  color: #fff;
}

.TodoSearch:hover,
.TodoSearch:focus {
  outline: 4px solid #f5b00e;
}

.TodoSearch--loading::placeholder {
  color: transparent;
}

.TodoSearch--loading {
  background: linear-gradient(90deg, #9c9c9e, #3C3E44);
  background-size: 400% 400%;
  animation: loadingAnimation 2s ease-in-out infinite;
}